body {
	background: #142328;
}

.pagination-outer {
	text-align: center;
}

.pagination {
	font-family: "Times New Roman", Times, serif;
	border-radius: 40px;
	border: 2px solid pink;
	overflow: hidden;
	display: inline-flex;
	position: relative;
}

.pagination li a.page-link {
	color: orange;
	background-color: transparent;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	line-height: 43px;
	height: 45px;
	width: 55px;
	padding: 0;
	border: none;
	border-radius: 0;
	position: relative;
	z-index: 1;
}

.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover {
	color: yellow;
	background: transparent;
	border: none;
}

.pagination li a.page-link:before,
.pagination li a.page-link:after {
	content: "";
	height: 100%;
	width: 100%;
	border: 1px solid red;
	border-top: none;
	border-bottom: none;
	transform: skewX(-17deg);
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transition: all 0.3s;
}

.pagination li a.page-link:after {
	background-color: #f11739;
	border: none;
	border-radius: 50%;
	transform: skewX(-17deg) scale(0);
}

.pagination li.active a.page-link:after,
.pagination li a.page-link:hover:after,
.pagination li.active a.page-link:hover:after {
	border-radius: 0;
	transform: skewX(-17deg) scale(1);
}
