@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
}

.warpper {
	padding: 5px;
	max-width: 960px;
	width: 95px;
	margin: 29px auto;
}

header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid orange;
	margin: 2px;
	padding: 10px;
}

footer {
	padding: 0 15px;
}

@media screen and (max-width: 980px){
	.columns .column {
		margin-bottom: 5px;
		flex-basis:40%;
	}

}
