* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	background: #17b978;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-info {
	display: flex;
	width: 100%;
	max-width: 120px;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

.card {
	background: #21e6c1;
	padding: 0 20px;
	margin: 0 10px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: orange;
	cursor: pointer;
}

.card-icon {
	font-size: 20px;
	background: red;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	transition: 0.3s linear;
}

.card:hover .card-icon {
	background: none;
	color: greenyellow;
	transform: scale(1.6);
}

.card p {
	margin-top: 20px;
	font-size: 300;
	letter-spacing: 0.2px;
	max-height: 0;
	opacity: 0;
	transition: 0.3s linear;
}

.card:hover p {
	max-height: 40px;
	opacity: 1;
}
