* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
}

.box-area {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}

.box-date {
	display: flex;
	background: linear-gradient(to right,#fff 45%,#000 45%,#fff 45%);
	order: 2;
	font-size: 28px;
	flex-basis: 180px;
	color: #fff;
}

.box-date>span {
	font-size: 28px;
	padding: 10px;
	margin: auto;
}

.box-text {
	text-align: center;
	padding: 20px;
	border-radius: 25px;
	color: #fff;
	order: 3;
	width: 80%;
	padding-left: 10px;
	background: #f75395;
	margin-bottom: 3%;
}

.box-text h2 {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}
.box-text h3 {
	margin: 5px;
	font-size: 14px;
	color: #000;
}
