html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background: rgb(149, 194, 215);
	font-size: 10px;
}

.main-header {
	flex: 0 1 auto;
}

.logo-text {
	background-color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 37px;
}

.main-content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.thumbnail-title {
	display: block;
	margin: 0;
	padding: 4px 10px;
	font: 18px;
	background: rgb(96, 125, 139);
	color: rgb(202, 238, 255);
}

a {
	text-decoration: none;
}

.thumbnail-img {
	width: 100%;
	display: block;
}

.thumbnail-item {
	display: inline-block;
	width: 120px;
	border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-list {
	flex: 0 1 auto;
	order: 2;

	list-style: none;
	padding: 0;
	white-space: nowrap;
	overflow-x: auto;
}

.detail-image-contained {
	flex: 1 1 auto;
}
