* {
	margin: 0;
	padding: 0;
}

.tabs {
	display: flex;
	flex-grow: wrap;
}

.tabs label {
	order: 1;
	display: block;
	cursor: pointer;
	background: orange;
	font-weight: bold;
	transition: background ease 0.3s;
}

.tabs .tab {
	order: 10;
	flex-grow: 1;
	width: 100%;
	display: none;
	background: pink;
}
